.events-card:hover{
    opacity: 0.6;
}
.ws-nw{
    white-space: nowrap;
}
.line-clamp-1{
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* line-height: 1.2em;
    max-height: 1.2em; */
}
.line-clamp-2{
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* line-height: 1.2em;
    max-height: 2.4em; */
}